
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(203, 191, 177);
  }
  
  .login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin-right: 25px;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  #inputbox
  {
    width: 280px;
  }
  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: rgba(73, 32, 32, 0.89);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: rgba(77, 43, 43, 0.89);
  }
  .signup
  {
    margin-bottom: 15px;
    margin-left: 110px;
    
  }
  .signup a
  {
    text-decoration: none;

  }